{% extends 'Base.html' %}

{% block content %}

<div class="container">
<h1> Title : {{title}} </h1>
    <div class=" mt-5 embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src={{embed}} allowfullscreen></iframe>
</div>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Size</th>
      <th scope="col">Type</th>
      <th scope="col">Quality</th>
      <th scope="col">Download</th>
    </tr>
  </thead>
  {% for j in video %}
  <tbody>
    <tr>
      <th> {{j.filesize}}</th>
      <td>{{j.type}}</td>
      <td>{{j.resolution}}</td>
      <td><form action="{% url 'yt_downloader:download_done' j.resolution %}" method="post">
        {% csrf_token %}
        <input type="submit" class="btn btn-success" value="Download">

      </form>
    </tr>
  </tbody>
  {% endfor %}
</table>
</div>
{% endblock content %}
