{% extends 'Base.html' %}


{% block content %}
<div class="jumbotron">
    <center>
        <p><h1> Welcome to Qurr. </h1></p>
       <i>
           <p>Qurr is a free tool for shortening long links and downloading Youtube videos.</p>
       </i>

        <div class="jumbotron">
  <p class="lead">I have built this online tool to help people shorten links and Download Youtube videos for free.</p>
  <hr class="my-4">
  <p>Please click the button below to buy me a coffee 😊.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="https://www.buymeacoffee.com/daevidthegreat" role="button">Buy Me A Coffee</a>
  </p>
</div>

    </center>
</div>
{% endblock content %}
